[submodule "drivers/YDLidar-SDK"]
	path = drivers/YDLidar-SDK
	url = git@github.com:YDLIDAR/YDLidar-SDK.git
[submodule "drivers/ydlidar_ros2_driver"]
	path = drivers/ydlidar_ros2_driver
	url = git@github.com:YDLIDAR/ydlidar_ros2_driver.git
